USE [master]
GO
/****** Object:  Database [PersonTrackerDB]    Script Date: 8.12.2016 22:18:25 ******/
CREATE DATABASE [PersonTrackerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonTrackerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PersonTrackerDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PersonTrackerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PersonTrackerDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonTrackerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonTrackerDB]
GO
/****** Object:  Table [dbo].[Brada]    Script Date: 8.12.2016 22:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Brada](
	[idBrada] [int] IDENTITY(1,1) NOT NULL,
	[Layer] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Brada] PRIMARY KEY CLUSTERED 
(
	[idBrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Celjust]    Script Date: 8.12.2016 22:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Celjust](
	[idCeljust] [int] IDENTITY(1,1) NOT NULL,
	[Layer] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Celjust] PRIMARY KEY CLUSTERED 
(
	[idCeljust] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Glava]    Script Date: 8.12.2016 22:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Glava](
	[idGlava] [int] IDENTITY(1,1) NOT NULL,
	[Layer] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Glava] PRIMARY KEY CLUSTERED 
(
	[idGlava] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Komentar]    Script Date: 8.12.2016 22:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Komentar](
	[idKomentar] [int] IDENTITY(1,1) NOT NULL,
	[Tekst] [varbinary](100) NULL,
	[idKorisnik] [int] NULL,
	[idNestali] [int] NULL,
	[idPrestupnik] [int] NULL,
 CONSTRAINT [PK_Komentar] PRIMARY KEY CLUSTERED 
(
	[idKomentar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 8.12.2016 22:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Korisnik](
	[idKorisnik] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [varchar](45) NOT NULL,
	[Prezime] [varchar](45) NOT NULL,
	[Email] [varchar](45) NOT NULL,
 CONSTRAINT [PK_Korisnik] PRIMARY KEY CLUSTERED 
(
	[idKorisnik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Kosa]    Script Date: 8.12.2016 22:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kosa](
	[idKosa] [int] IDENTITY(1,1) NOT NULL,
	[Layer] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Kosa] PRIMARY KEY CLUSTERED 
(
	[idKosa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nestali]    Script Date: 8.12.2016 22:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nestali](
	[idNestali] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [varchar](45) NOT NULL,
	[Prezime] [varchar](45) NOT NULL,
	[GodinaRodjenja] [int] NULL,
	[DatumNestanka] [date] NULL,
	[MjestoNestanka] [varchar](45) NULL,
	[Fotografija] [varbinary](max) NULL,
	[idKorisnik] [int] NULL,
 CONSTRAINT [PK_Nestali] PRIMARY KEY CLUSTERED 
(
	[idNestali] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nos]    Script Date: 8.12.2016 22:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nos](
	[idNos] [int] IDENTITY(1,1) NOT NULL,
	[Layer] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Nos] PRIMARY KEY CLUSTERED 
(
	[idNos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Obrve]    Script Date: 8.12.2016 22:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Obrve](
	[idObrve] [int] IDENTITY(1,1) NOT NULL,
	[Layer] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Obrve] PRIMARY KEY CLUSTERED 
(
	[idObrve] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Oci]    Script Date: 8.12.2016 22:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Oci](
	[idOci] [int] IDENTITY(1,1) NOT NULL,
	[Layer] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Oci] PRIMARY KEY CLUSTERED 
(
	[idOci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Prestupnik]    Script Date: 8.12.2016 22:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Prestupnik](
	[idPrestupnik] [int] IDENTITY(1,1) NOT NULL,
	[DatumPrestupa] [date] NULL,
	[MjestoPrestupa] [varchar](50) NULL,
	[idSkica] [int] NULL,
	[idKorisnik] [int] NULL,
	[Opis] [varchar](100) NULL,
 CONSTRAINT [PK_Prestupnik] PRIMARY KEY CLUSTERED 
(
	[idPrestupnik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Skica]    Script Date: 8.12.2016 22:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Skica](
	[idSkica] [int] IDENTITY(1,1) NOT NULL,
	[Foto] [varbinary](max) NULL,
	[idGlava] [int] NULL,
	[idCeljust] [int] NULL,
	[idObrve] [int] NULL,
	[idOci] [int] NULL,
	[idNos] [int] NULL,
	[idUsne] [int] NULL,
	[idBrada] [int] NULL,
	[idKosa] [int] NULL,
 CONSTRAINT [PK_Skica] PRIMARY KEY CLUSTERED 
(
	[idSkica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usne]    Script Date: 8.12.2016 22:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usne](
	[idUsne] [int] IDENTITY(1,1) NOT NULL,
	[Layer] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Usne] PRIMARY KEY CLUSTERED 
(
	[idUsne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Brada]  WITH CHECK ADD  CONSTRAINT [FK_Brada_Brada] FOREIGN KEY([idBrada])
REFERENCES [dbo].[Brada] ([idBrada])
GO
ALTER TABLE [dbo].[Brada] CHECK CONSTRAINT [FK_Brada_Brada]
GO
ALTER TABLE [dbo].[Komentar]  WITH CHECK ADD  CONSTRAINT [FK_Komentar_Korisnik] FOREIGN KEY([idKorisnik])
REFERENCES [dbo].[Korisnik] ([idKorisnik])
GO
ALTER TABLE [dbo].[Komentar] CHECK CONSTRAINT [FK_Komentar_Korisnik]
GO
ALTER TABLE [dbo].[Komentar]  WITH CHECK ADD  CONSTRAINT [FK_Komentar_Nestali] FOREIGN KEY([idNestali])
REFERENCES [dbo].[Nestali] ([idNestali])
GO
ALTER TABLE [dbo].[Komentar] CHECK CONSTRAINT [FK_Komentar_Nestali]
GO
ALTER TABLE [dbo].[Komentar]  WITH CHECK ADD  CONSTRAINT [FK_Komentar_Prestupnik] FOREIGN KEY([idPrestupnik])
REFERENCES [dbo].[Prestupnik] ([idPrestupnik])
GO
ALTER TABLE [dbo].[Komentar] CHECK CONSTRAINT [FK_Komentar_Prestupnik]
GO
ALTER TABLE [dbo].[Korisnik]  WITH CHECK ADD  CONSTRAINT [FK_Korisnik_Korisnik] FOREIGN KEY([idKorisnik])
REFERENCES [dbo].[Korisnik] ([idKorisnik])
GO
ALTER TABLE [dbo].[Korisnik] CHECK CONSTRAINT [FK_Korisnik_Korisnik]
GO
ALTER TABLE [dbo].[Nestali]  WITH CHECK ADD  CONSTRAINT [FK_Nestali_Korisnik] FOREIGN KEY([idKorisnik])
REFERENCES [dbo].[Korisnik] ([idKorisnik])
GO
ALTER TABLE [dbo].[Nestali] CHECK CONSTRAINT [FK_Nestali_Korisnik]
GO
ALTER TABLE [dbo].[Prestupnik]  WITH CHECK ADD  CONSTRAINT [FK_Prestupnik_Korisnik] FOREIGN KEY([idKorisnik])
REFERENCES [dbo].[Korisnik] ([idKorisnik])
GO
ALTER TABLE [dbo].[Prestupnik] CHECK CONSTRAINT [FK_Prestupnik_Korisnik]
GO
ALTER TABLE [dbo].[Prestupnik]  WITH CHECK ADD  CONSTRAINT [FK_Prestupnik_Skica] FOREIGN KEY([idSkica])
REFERENCES [dbo].[Skica] ([idSkica])
GO
ALTER TABLE [dbo].[Prestupnik] CHECK CONSTRAINT [FK_Prestupnik_Skica]
GO
ALTER TABLE [dbo].[Skica]  WITH CHECK ADD  CONSTRAINT [FK_Skica_Brada] FOREIGN KEY([idBrada])
REFERENCES [dbo].[Brada] ([idBrada])
GO
ALTER TABLE [dbo].[Skica] CHECK CONSTRAINT [FK_Skica_Brada]
GO
ALTER TABLE [dbo].[Skica]  WITH CHECK ADD  CONSTRAINT [FK_Skica_Celjust] FOREIGN KEY([idCeljust])
REFERENCES [dbo].[Celjust] ([idCeljust])
GO
ALTER TABLE [dbo].[Skica] CHECK CONSTRAINT [FK_Skica_Celjust]
GO
ALTER TABLE [dbo].[Skica]  WITH CHECK ADD  CONSTRAINT [FK_Skica_Glava] FOREIGN KEY([idGlava])
REFERENCES [dbo].[Glava] ([idGlava])
GO
ALTER TABLE [dbo].[Skica] CHECK CONSTRAINT [FK_Skica_Glava]
GO
ALTER TABLE [dbo].[Skica]  WITH CHECK ADD  CONSTRAINT [FK_Skica_Kosa] FOREIGN KEY([idKosa])
REFERENCES [dbo].[Kosa] ([idKosa])
GO
ALTER TABLE [dbo].[Skica] CHECK CONSTRAINT [FK_Skica_Kosa]
GO
ALTER TABLE [dbo].[Skica]  WITH CHECK ADD  CONSTRAINT [FK_Skica_Nos] FOREIGN KEY([idNos])
REFERENCES [dbo].[Nos] ([idNos])
GO
ALTER TABLE [dbo].[Skica] CHECK CONSTRAINT [FK_Skica_Nos]
GO
ALTER TABLE [dbo].[Skica]  WITH CHECK ADD  CONSTRAINT [FK_Skica_Obrve] FOREIGN KEY([idObrve])
REFERENCES [dbo].[Obrve] ([idObrve])
GO
ALTER TABLE [dbo].[Skica] CHECK CONSTRAINT [FK_Skica_Obrve]
GO
ALTER TABLE [dbo].[Skica]  WITH CHECK ADD  CONSTRAINT [FK_Skica_Oci] FOREIGN KEY([idOci])
REFERENCES [dbo].[Oci] ([idOci])
GO
ALTER TABLE [dbo].[Skica] CHECK CONSTRAINT [FK_Skica_Oci]
GO
ALTER TABLE [dbo].[Skica]  WITH CHECK ADD  CONSTRAINT [FK_Skica_Usne] FOREIGN KEY([idUsne])
REFERENCES [dbo].[Usne] ([idUsne])
GO
ALTER TABLE [dbo].[Skica] CHECK CONSTRAINT [FK_Skica_Usne]
GO
USE [master]
GO
